@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@utility bg-hero-fog {
  background: radial-gradient(
    circle at center,
    transparent 0%,
    rgba(241, 223, 190, 0.2) 40%,
    rgba(241, 223, 190, 0.8) 100%
  );
}

@utility bg-hero-fog-dark {
  background: radial-gradient(
    circle at center,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

/* .bg-hero-fog {
  background: radial-gradient(
    circle at center,
    transparent 0%,
    rgba(241, 223, 190, 0.2) 40%,
    rgba(241, 223, 190, 0.8) 100%
  );
}
.bg-hero-fog-dark {
  background: radial-gradient(
    circle at center,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.9) 100%
  );
} */

:root {
  --color-fd-background: oklch(0.91 0.048 83.6);
  --color-fd-foreground: oklch(0.41 0.077 78.9);
  --color-fd-muted: oklch(0.86 0.064 83.7);
  --color-fd-muted-foreground: oklch(0.51 0.077 74.3);
  --color-fd-popover: oklch(0.92 0.042 83.6);
  --color-fd-popover-foreground: oklch(0.41 0.077 74.3);
  --color-fd-card: oklch(0.92 0.042 83.6);
  --color-fd-card-foreground: oklch(0.41 0.077 74.3);
  --color-fd-border: oklch(0.74 0.063 80.8);
  --color-fd-primary: oklch(0.41 0.077 78.9);
  --color-fd-primary-foreground: oklch(0.98 0.005 0);
  --color-fd-secondary: oklch(0.88 0.055 83.6);
  --color-fd-secondary-foreground: oklch(0.51 0.077 78.9);
  --color-fd-accent: oklch(0.86 0.055 83.6);
  --color-fd-accent-foreground: oklch(0.26 0.016 0);
  --color-fd-ring: oklch(0.51 0.077 74.3);
}

.dark {
  --color-fd-background: oklch(0.18 0.04 280);
  --color-fd-foreground: oklch(0.96 0.03 95);

  --color-fd-muted: oklch(0.32 0.05 270);
  --color-fd-muted-foreground: oklch(0.68 0.04 270);

  --color-fd-popover: oklch(0.23 0.06 280);
  --color-fd-popover-foreground: oklch(0.96 0.03 95);

  --color-fd-card: oklch(0.24 0.05 300);
  --color-fd-card-foreground: oklch(0.96 0.03 95);

  --color-fd-border: oklch(1 0 0 / 10%);

  --color-fd-primary: oklch(0.78 0.22 22);
  --color-fd-primary-foreground: oklch(0.14 0.04 280);

  --color-fd-secondary: oklch(0.45 0.13 190);
  --color-fd-secondary-foreground: oklch(0.98 0.02 90);

  --color-fd-accent: oklch(0.65 0.18 340);
  --color-fd-accent-foreground: oklch(0.98 0.02 90);

  --color-fd-ring: oklch(0.58 0.08 250);
}
